<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" />
        <rewrite>
            <rules>
<rule name="gemini-3.5-flash-api" stopProcessing="true">
    <match url=".*gemini-3.5-flash-api/(.*)" />
    <action type="Rewrite" url="https://generativelanguage.googleapis.com/{R:1}?key=YOUR_KEY_HERE" appendQueryString="true" />
</rule>
<rule name="gemini-3.5-flash-api-tempkey" stopProcessing="true">
    <match url=".*gemini-3.5-flash-api-tempkey/(.*)" />
    <action type="Rewrite" url="https://generativelanguage.googleapis.com/{R:1}?" appendQueryString="true" />
</rule>
<rule name="gemini-3.1-flash-lite-api" stopProcessing="true">
    <match url=".*gemini-3.1-flash-lite-api/(.*)" />
    <action type="Rewrite" url="https://generativelanguage.googleapis.com/{R:1}?key=YOUR_KEY_HERE" appendQueryString="true" />
</rule>
<rule name="gemini-3.1-flash-lite-api-tempkey" stopProcessing="true">
    <match url=".*gemini-3.1-flash-lite-api-tempkey/(.*)" />
    <action type="Rewrite" url="https://generativelanguage.googleapis.com/{R:1}?" appendQueryString="true" />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>