<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="Google-api" stopProcessing="true">
    <match url=".*Google-api(.*)" />
    <action type="Rewrite" url="https://generativelanguage.googleapis.com/{R:1}?key={API_KEYS:Google_KEY}" appendQueryString="true" />
</rule>
<rule name="Google-api-tempkey" stopProcessing="true">
    <match url=".*Google-api-tempkey/(.*)" />
    <action type="Rewrite" url="https://generativelanguage.googleapis.com/{R:1}?" appendQueryString="true" />
</rule>
<rule name="Nvidia-Models-api" stopProcessing="true">
<match url=".*Nvidia-Models-api(.*)" />
<conditions>
    <add input="{HTTP_Authorization}" pattern="^Bearer\s+(.+)$" />
    <add input="{API_KEYS:{C:1}}" pattern="(.+)" />
</conditions>
<serverVariables>
    <set name="HTTP_Authorization" value="Bearer {C:1}" />
</serverVariables>
<action type="Rewrite" url="https://integrate.api.nvidia.com/v1/chat/completions" appendQueryString="true" />
</rule>
<rule name="Nvidia-Models-api-tempkey" stopProcessing="true">
    <match url=".*Nvidia-Models-api-tempkey(.*)" />
    <action type="Rewrite" url="https://integrate.api.nvidia.com/v1/chat/completions" appendQueryString="true" />
</rule>

               </rules>
            <allowedServerVariables>
                <remove name="HTTP_Authorization" />
                <add name="HTTP_Authorization" />
            </allowedServerVariables>
        </rewrite>
    </system.webServer>
</configuration>