<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="Google-api" stopProcessing="true">
    <match url=".*Google-api(.*)" />
    <action type="Rewrite" url="https://generativelanguage.googleapis.com/{R:1}?key={API_KEYS:Google_KEY}" appendQueryString="true" />
</rule>
<rule name="Google-api-tempkey" stopProcessing="true">
    <match url=".*Google-api-tempkey/(.*)" />
    <action type="Rewrite" url="https://generativelanguage.googleapis.com/{R:1}?" appendQueryString="true" />
</rule>
               </rules>
        </rewrite>
    </system.webServer>
</configuration>